{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<div class="container">
  <div class="row">
    <div class="col-md-8">
        <!-- Никнейм--> 
     <h1>Никнейм</h1>
        <!-- Логин--> 
     <p class="text-muted">@Логин</p>
        <!-- Биография--> 
    <p> Bio, i was born in little city near NewMexico Bio, i was born in little city near NewMexico Bio, i was born in little city near NewMexico Bio, i was born in little city near NewMexico Bio, i was born in little city near NewMexico Bio, i was born in little city near NewMexico Bio, i was born in little city near NewMexico Bio, i was born in little city near NewMexico Bio, i was born in little city near NewMexico Bio, i was born in little city near NewMexico Bio, i was born in little city near NewMexico  </p>   <!-- Сюда био-->  
    
    {% if user.id == object.user.id or user.is_superuser %}
    <a href="{% url 'profile_update' object.id%}">Edit Profile</a>
    {% endif %}
    </div>
    <div class=".col-6 .col-md-4"> 
      <img width="300" height="300" class="rounded" src="/media/default.jpg"> 
      <!-- Проверку на ранг-->  
        <p class="text-center">РанкНаим</p>    
        <!-- Проверку на ранг-->  
      </div> 
  </div>
<br>
    
    <a href="#Cform" type="submit" class="btn-dark btn-lg btn-block text-center">Хочу оставить коммент</a>
    {% for comment in object.comments.all %}
    <div class="container ">
                <div class="py-2"></div>
                  
                <!--Post-->
            <div class="row  border-dark rounded overflow-hidden flex-md-row mb-3 shadow-sm h-md-250 position-relative divcolor text-light "> 
                <div class="col p-3 d-flex flex-column position-static">
                    <!-- Текст комментария--> 
                    <p>Текст комментария</p>
                    <!-- Автор комента--> 
                    <a href="{% url 'profile' comment.author.id %}" class="text-light "><p class="text-muted text-right">Автор комента</p></a>
                </div>
        </div>
    </div>

    {% endfor %}
        <form method="post" action="{% url 'profile' object.user.id %}" id="Cform">     {% csrf_token %}
        {{ form|crispy  }}
    <button type="submit" class="btn-primary btn-lg btn-block">Comment</button>
    </form>
{% endblock content %}