<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <h3><a href="{% url 'home' %}">MyWEB</a></h3>
    <h3><a href="{% url 'post_create' %}">+post</a></h3>
    {% if user.is_superuser %}
    <h6><a href="/admin">adminka</a></h6>
    {% endif %}
</header>
{% if user.is_authenticated %}
    <h2><a href="{% url 'profile' user.id %}">hi {{ user.username }}</a></h2>
    <h6><a href="{% url 'logout' %}">logout</a></h6>
{% else %}
    <a href="{% url 'login' %}">Please login</a>
{% endif %}
<br>
{% block content %}

{% endblock content %}
</body>
</html>